## **Python Bootcamp - Unit 4 Exercises**
---
**Author:** David Dobolyi

**Contents**
- [Exercise 1](#Exercise-1)
- [Exercise 2](#Exercise-2)
- [Exercise 3](#Exercise-3)
- [Exercise 4](#Exercise-4)
- [Exercise 5](#Exercise-5)
- [Exercise 6](#Exercise-6)

---
### Exercise 1

Create the following NumPy arrays:

1. **exVec1** containing the following numbers: 3, 10, -5, 4, 8
2. **exVec2** containing the following numbers: 5, -6, NA, 3, 11
3. **exVec3** containing a sequence from -5 to 5 by steps of 0.5 (e.g., -5.0, -4.5, -4.0, and so on to positive 5.0)

*Hint*: for creating the third array, see the NumPy [*arange*](https://numpy.org/doc/stable/reference/generated/numpy.arange.html) method.

In [58]:
import numpy as np

exVec1 = np.array([3, 10, -5, 4, 8])
exVec2 = np.array([5, -6, np.nan, 3, 11])
exVec3 = np.arange(-5, 5 + .5, .5)

---
### Exercise 2

Add together vectors exVec1 and exVec2 and store these in a new vector object called exVecResult using a single command.

In [59]:
exVecResult = exVec1 + exVec2
exVecResult

array([ 8.,  4., nan,  7., 19.])

---
### Exercise 3

Use bracket notation to: 

1. return the 3rd value inside  exVec1
2. return all but the 2nd and 3rd values in exVec2

In [60]:
exVec1[2]

-5

In [61]:
np.delete(exVec2, [1, 2])

array([ 5.,  3., 11.])

---
### Exercise 4

Use functions and/or relational operators to:

1. show the length of each of the three arrays created above
2. find the sum of the exVec1
3. find the mean of the exVec2
4. calculate the mean of exVec2 again, but this time using algebra (e.g., by summing up and dividing)
5. show that the calculations in C and D are equivalent/identical

1. show the length of each of the three vectors created above

In [62]:
len(exVec1)

5

In [63]:
len(exVec2)

5

In [64]:
len(exVec3)

21

2. find the sum of the vector exVec1

In [65]:
sum(exVec1)

20

3. find the mean of the vector exVec2 using the mean function

In [66]:
np.nanmean(exVec2)

3.25

4. calculate the mean of exVec2 again, but this time using algebra (e.g., by summing up and dividing)

In [67]:
np.nansum(exVec2)/(exVec2.size - sum(np.isnan(exVec2)))

3.25

5. show that the calculations in C and D are equivalent/identical

In [68]:
np.nanmean(exVec2) == np.nansum(exVec2)/(exVec2.size - sum(np.isnan(exVec2)))

True

---
### Exercise 5

Insert a code cell below that shows how to convert the character string `'hello there'` to all uppercase characters:

---
### Exercise 6

Modify the code cell below so that it shows today's date formated to include:

- abbreviated weekday name
- day of the month
- abbreviated month name
- two-digit year
- week number of the year (assuming Sunday is the first day of the week)

*Hint:* see [this link](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes) for help!

In [11]:
import datetime as dt

dt.datetime.strftime(dt.date.today(), '%Y-%m-%d')

'2020-10-15'